:root{
  --color1:#010101ff;
  --color2: #0a5a5a;;
  --color3:#88bba9;
  --color4: #faece2;
  --color5: #042e2e;
  --color6:rgb(39, 40, 34); 
  --color7: #525659ff;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: var(--color5)scale;
  font-size: 20px !important;
}

.main-container {
  position: relative;
  background-color: var(--color1);

}

a {
  text-decoration: none;
}

a:hover {
  color: var(--color2);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

p, a, h1, h2, h3, h4, h5, label, button {
  color: var(--color4);
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, label, button {
  color: var(--color3);
}

h1{
  text-align: center;
  font-size: 3em;
  margin-bottom: 5%;
}

.navigation-bar {
  justify-content: space-between;
  background-color: var(--color1);

  button {
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;
    text-transform: initial;
    padding: 6px 10px;
  }

  svg {
    cursor: pointer;
  }
}

.navigation-bar-responsive {
  span, p {
    color: var(--color1);
    font-family: "Lato", sans-serif;
  }
}

.container {
  margin-top: 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-image {
  width: 100%;
  height: 450px;

  img {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
}

.mobile-menu-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: bold;
}

.items-container {
  padding: 5% 10%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.light-mode {
  background-color: var(--color4);

  .navigation-bar {
    background-color: var(--color4);
  }

  p, a, h1, h2, h3, h4, h5, label, button {
    color: var(--color6);
  }
  .about-section .content h1 {
    color: var(--color2);
  }
  .download-button {
    border: solid 2px var(--color5);
    background-color: var(--color2);
    color: white;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    transition:  0.3s ease;
  }
  .download-button:hover {
    background-color: var(--color3);
    color: var(--color2);
  }
  h1{
    color: var(--color5)
  }
  .project-button{
    background-color: var(--color5);
    color: var(--color6);
  }
  a:hover {
    color: white;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  }

  .navigation-bar svg {
    color: var(--color1);
  }

  .about-section {
    background-image: url("./assets/images/day-light.webp");
    a{
      color: var(--color5);
      
    }
    h1, p {
      color: var(--color2);
      padding-right: 20px;
    }
  }

  .skills-container svg {
    color: var(--color1);
  }

  .chip {
    background-color: rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  .vertical-timeline::before {
    background-color: rgba(0, 0, 0, 0.08);
  }

  .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
    color: var(--color5);
  }

  .vertical-timeline-element-content-arrow {
    border-right: 7px solid rgba(0, 0, 0, 0.08) !important;
  }

  .flex-chips .chip-title {
    color: var(--color1);
  }
}

@media screen {
  @media (max-width: 768px) {
    .items-container {
      padding: 5% 5%;
    }
    h1{
      font-size: 2em;
    }
  }
}