.container-contact{
  .skills-container{
    width: 100%;
  }
  .svg-inline--fa{
    margin: auto ;
    display: block;
  }
  .text-contact{
    text-align: center;
    margin-top: -40px;
  }

  .skills-grid{
    padding-top: 40px;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
  }
  
  .contact-col{
    text-align: center;
  }
  
}

