.container-contact{
  .skills-container{
    width: 100%;
  }
  .svg-inline--fa{
    margin: auto ;
    display: block;
  }
  .skills-grid{
    padding-top: 40px;
  }
  .contact-col{
    text-align: center;
  }
}

