.vertical-timeline span {
    color: var(--color3);
    font-family: 'Courier Prime', monospace;
}

.vertical-timeline p {
    color: var(--color6);
}

.vertical-timeline-element p {
    color: var(--color6);
}

.vertical-timeline-element h3 {
    color: var(--color6);
}

.vertical-timeline-element h4 {
    color: var(--color6);
}

.vertical-timeline-element span {
    color: var(--color6);
}

.vertical-timeline-element .vertical-timeline-element-date {
    color: var(--color3);
}

.svg-inline--fa {
    color: var(--color3);
}

@media screen and (max-width: 1170px) {
    .vertical-timeline-element .vertical-timeline-element-date {
        color: var(--color6);
    }
}